body , html{
    height:100%;
    
}

.landing{
    text-align: center;
}
.background>img{
    text-align: center;
}
    
.background1{
     background-image: url('/images/landing.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     text-align: center;
     /* original dimensions of the image*/
     width:1400px;
     height:636px; 
     
}
#top-logo{
    position:relative;
    top:100px;
    text-align: center;
    color:white;
}
.landing-b{
    display: flex;
}
.happy{
    display: flex;
    flex-direction: column;

}
#happy{
    background-color:white;
    height:55px;
    width:350px;
    margin:0;
    font-size: large;
    padding:50px 0 0 0;

}
#party{
    background-color: red;
    height:55px;
    width:350px;
    margin:0;
    font-size: large;
    padding:50px 0 0 0;
}

.breakfast>p, .lunch>p, .dinner>p{
    position:relative;
    bottom:140px;
    color:white;
}



.section2-images{
    display: flex;
    flex-direction: column;
    /* original image dimensions */
    height:245px;
    width:390px;
    margin:60px 0 0 280px;
    
}
.section2-texts{
    position:relative;
    bottom:250px;
    left:850px;
}
.section2-texts>button{
    border: red;
    padding:10PX 30PX;
    background-color: white;
    border:2px solid red;
    
}


.drink-images{
    display:flex;
    flex-direction: row;
    position:relative;
    left:900px;
    bottom:100px;
}
#drinks{
    position:relative;
    left:300px;
    bottom:450px;
}

#drinks>button{
    border: red;
    padding:10PX 30PX;
    background-color: white;
    border:2px solid red;